.freinds_bg {
    width: 1600px;
    height: 900px;
}

.search {
    display: flex;
    margin: 40px;
    flex-direction: row;
}

.search img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.search input {
    width: 80%;
    height: 50px;
    border-radius: 42px;
    border: none;
    background: #f5f5f5;
    font: italic 25px arial, sans-serif;
}

.freind_list {
    margin: 40px;
}

.freind_list h2 {
    margin-top: 20px;
}

.freind_list div {
    width: 80%;
    margin: 20px 0;
}

.avatars {
    display: flex;
    flex-direction: row;
}

.avatars img {
    width: 160px;
    height: auto;
    margin: 0 10px;
}

.avatars h3 {
    font-size: smaller;
    text-align: center;
}