* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 65px;
    background-image: url(../images/woodbg.jpg);
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100vw;
    height: 65px;
    background-color: #F2F2F2;
}

.banner li, .controls li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 65px;
}

#mic {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

#mic img {
    width: 80px;
}

.controls {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    width: 20vw;
    height: 65px;
}

.storyLayout {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.storyLayout div {
    width: 30vw;
}

#stories {
    background-color: #EFCEBB;
    border-style: solid;
    border-width: 8px;
    border-color:#7C401E;
    border-radius: 14px;
    height: 80vh;
    line-height: 60px;
    text-align: left;
    padding-left: 40px;
}

#stories div {
    display: flex;
}

#stories div p {
    padding-right: 20px;
}

.controls img {
    height: 65px;
}

#title {
    font-size: 20pt;
    text-align: center;
}

#storyText {
    line-height: 30px;
    font-size: 16pt;
    padding-right: 40px;
}

.lobbies {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    width: 100vw;
    height: 80vh;
}

.lobbies li {
    list-style: none;
}

#lobby {
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-style: solid;
    border-width: 8px;
    border-color:#7C401E;
    background-color: #EFCEBB;
    border-radius: 14px;
    width: 350px;
    height: 80vh;
    line-height: 60px;
}

#button {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 14px;
    color: white;
    background-color: #502583;
}

#notButton {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 14px;
    color: white;
    background-color: #404040;
}

.users {
    display: grid;
    grid-template-columns: 160px 160px;
}

.users img {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    width:100px;
}

.users iframe {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#smallGIF {
    padding-top: 0px;
    padding-left: 20px;
}

#videos img {
    width: 200px;
}

#videos p {
    color: white;
    padding-top: 15px;
    padding-bottom: 60px;
    font-size: 18pt;
}

#reactions {
    padding: 40px;
    background-color: #EFCEBB;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 8px;
    border-color:#7C401E;
    border-radius: 14px;
    width: 400px;
    font-size: 40pt;
}

#reactions a {
    text-decoration: none;
}

#webCam {
    background-color: black;
    border-radius: 300px;
    border: 3px solid blueviolet;
    width: 269px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

canvas {
    display: none;
}